[Unit]
Description=the quote server
Documentation=https://github.com/derrike/quotes
After=network.target

[Service]
Environment=NODE_PORT=3000
Type=simple
WorkingDirectory=/var/lib/quotes/serverside
ExecStart=/home/ec2-user/.nvm/versions/node/v14.8.0/bin/node server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target